<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_task">
    +Add Task
</button>

<!-- Modal -->
<div class="modal fade" id="add_task" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">ADD TASK</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <form action="/add-task" method="post">
                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text"  class="form-control" name ="name" placeholder="Name" required>
                            </div>
                            <div class="mt-3">
                                <div class="form-group">
                                    <label>Deadline:</label>
                                    <input type="date"  class="form-control" name ="deadline" required></label>
                                </div>
                            </div>
                            <div class="mt-3">
                                <div cclass="form-group">
                                    <label>Description:</label>
                                    <input type="text"  class="form-control form-control-lg" name ="description" required>
                                </div>
                            </div>
                            <div class="mt-3">
                                <div class="form-group">
                                    <label>Completed:</label>
                                    <select name="completed" class="form-control">
                                        <option>YES</option>
                                        <option>NO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <button class="btn btn-primary">Add Task</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>